*,
*::before,
*::after {
  box-sizing: border-box;

}


html,
body,
.wrapper {

  /* Box-Model */
  margin: 0;
  padding: 0;

  /* Positioning */
  height: 100%;

}


body {

  /* Typography */
  font-family: 'Inconsolata', monospace;

}


header {
  
  /* Box-Model */
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top:0;
  
  /* Typography */
  text-align: center;
  color: #dddbcf;
  
  /* Aesthetic */
  background-color:#16161a;  
  opacity: .7;
  
}

/* Text style added by me */
h1 {

  /* Typography */
  font-weight:bold;

}

/* Text style added by me */
h2 {

  /* Typography */
  text-align:center;

}

/* Background image added by me */
.bkgd {

    /* Positioning */
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
    min-width: 100%;
    min-height: 100%;
    position:fixed;
    
    /*Aesthetic */
    background-image: url("./Assets/Texture-bkgd.jpg"); 
    opacity:0.3;
  }


.card {

  /* Box-Model */
  margin: 0 auto;
  margin-top: 18px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #221f1e;
  padding: 30px 40px;

  /* Positioning */
  max-width: 800px;

  /* Typography */
  color: #221f1e;
  font-size: 18px;

  /* Aesthetic */
  background-color:#eeeeed;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  opacity:0.8;

}


.card-header::after {
  
  /* Positioning */
  width: 100%;
  height: 2px;
  display: block;

  /* Aesthetics */
  content: " ";
  background: #16161a;
}


.card-body {

  /* Positioning */
  min-height: 100px;

}


.card-footer {

  /* Typography */
  text-align: center;

}


.card-footer::before {

  /* Positioning */
  width: 100%;
  height: 2px;
  display: block;

  /* Aesthetic */
  content: " ";
  background: #16161a;
}


.card-footer::after {

  /* Positioning */
  display: block;
  clear: both;

  /* Aesthetic */
  content: " ";

}


.btn {
  
  /* Box-Model */
  margin: 16px 16px 16px 20px;
  border: none;
  border-radius: 25px;
  padding: 14px 34px;

  /* Positioning */
  display: inline-block;
  line-height: 22px;

  /* Typography */
  color:#eeeeed;
  font-size: 22px;
  text-align: center;

  /* Aesthetic */
  background-color:#16161a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  cursor: pointer;

}


button[disabled] {

  /* Aesthetic */
  cursor: default;
  background: #9c9d9e;
}


.float-right {

  /* Positioning */
  float: right;

}


#password {

  /* Box-Model */
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border: 2px dashed #9c9d9e;
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;

  /* Positioning */
  display: block;
  width: 100%;
  resize: none;
  overflow: hidden;
 
   /* Typography */
  font-size: 1.2rem;
  text-align: center;

  
  /* Aesthetic */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

/* Style added by me */
.btn:hover {

  /* Typography */
  color:#ac8c51

}


/* Media Queries (already provided) */

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
