*,
*::before,
*::after {
  box-sizing: border-box;

}


html,
body,
.wrapper {

  height: 100%;
  margin: 0;
  padding: 0;

}


body {

  font-family: 'Inconsolata', monospace;

}


header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top:0;
  color: #dddbcf;
  background-color:#16161a;  
  opacity: .7;
  
}

/* Text style added by me */
h1 {

  font-weight:bold;

}

/* Text style added by me */
h2 {

  text-align:center;

}

/* Background image added by me */
.bkgd {
    /* Positioning */
    background-size:100%;
    
    background-repeat:no-repeat;
    background-position:center;
    min-width: 100%;
    min-height: 100%;
    position:fixed;
    
    /*Aesthetic */
    background-image: url("../Assets/Texture-bkgd.jpg"); 
    opacity:0.3;
  }


.card {
  background-color:#eeeeed;
  border-radius: 5px;
  border-width: 1px;
  border-color: #221f1e;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #221f1e;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  margin-top: 18px;
  opacity:0.8;
}


.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #16161a;
  height: 2px;
}


.card-body {
  min-height: 100px;
}


.card-footer {
  text-align: center;
}


.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #16161a;
  height: 2px;
}


.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}


.btn {
  border: none;
  background-color:#16161a;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color:#eeeeed;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}


button[disabled] {
  cursor: default;
  background: #9c9d9e;
}


.float-right {

  float: right;
}


#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #9c9d9e;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Style added by me */
.btn:hover {

    color:#ac8c51
}

/* Media Queries (already provided) */

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
